
@{
    ViewData["Title"] = "ConfirmEmailError";
    Layout = "~/Views/Shared/_LayoutConfirmEmailError.cshtml";
}


<div id="notfound">
    <div class="notfound">
        <div class="notfound-404">
            <h1>Oops!</h1>
            <h2>Confirm mail don't succesful</h2>
        </div>
        <a href="#">Go TO Homepage</a>
    </div>
</div>

