@model ProductDashoardViewModel
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/RemindWebApp/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-md-6">
                    <form method="post" enctype="multipart/form-data" data-file-dragndrop>
                        <div class="form-group">
                            <label asp-for="Name">Name</label>
                            <input asp-for="Name" type="text" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Title">Title</label>
                            <input asp-for="Title" type="text" class="form-control" />
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Description">Description</label>
                            <input asp-for="Description" type="text" class="form-control" />
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Price">Price</label>
                            <input asp-for="Price" type="number" class="form-control" />
                            <span asp-validation-for="Price" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Count">Count</label>
                            <input asp-for="Count" type="number" class="form-control" />
                            <span asp-validation-for="Count" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="DiscountProduct">DiscountProduct</label>
                            <input asp-for="DiscountProduct" type="number" class="form-control" />
                            <span asp-validation-for="DiscountProduct" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="MostView">MostView</label>
                            <input asp-for="MostView" type="number" class="form-control" />
                            <span asp-validation-for="MostView" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ProductDedline">ProductDedline</label>
                            <input asp-for="ProductDedline" class="form-control" />
                            <span asp-validation-for="ProductDedline" class="text-danger"></span>
                        </div>
                        <div class="form-group" style="width:200px">
                            <label asp-for="CategoryMarka.Category">Please Select Category</label>
                            <select asp-for="CategoryId" class="form-control" asp-items="@(new SelectList(ViewBag.Category, "Id", "Name"))"></select>
                            <span asp-validation-for="CategoryMarka.Category" class="text-danger"></span>
                        </div>
                        <div class="form-group" style="width:200px">
                            <label asp-for="CategoryMarka.Marka">Please Select Category</label>
                            <select asp-for="MarkaId" class="form-control" asp-items="@(new SelectList(ViewBag.Marka, "Id", "Name"))"></select>
                            <span asp-validation-for="CategoryMarka.Marka" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="PhotoList">Photo</label>
                            <input asp-for="PhotoList" multiple="multiple" class="form-control" accept="image\*" />
                            <span asp-validation-for="PhotoList" class="text-danger"></span>
                        </div>

                        <input type="submit" class="btn btn-primary" value="Create" />
                    </form>
                </div>

                <div class="col-md-6">

                    <img src="~/img/Createproduct/Capture.PNG" style="width:100%" />
                </div>

            </div>
        </div>
    </div>
</div>


